<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<connectionStrings>

		<add
		  name="GDBConnection"
		  connectionString="Server=localhost,14333;Database=GDBDatabase;User Id=sa;Password=pass;TrustServerCertificate=True;"
		  providerName="System.Data.SqlClient" />
		<!--
		<add name="GDBConnection"
  connectionString="Host=localhost;Port=5432;Database=GDBDatabase;Username=postgres;Password=password;"
  providerName="Npgsql" />
		-->

	</connectionStrings>

	<appSettings>
		<add
			key="ProviderFactory"
			value="System.Data.SqlClient.SqlClientFactory, System.Data.SqlClient" />
		<!--
		POSTGRESQL EQUIVALENT
		<add
		  key="ProviderFactory"
		  value="Npgsql.NpgsqlFactory, Npgsql" />
		-->
	</appSettings>

</configuration>
